{% extends 'base.html' %}

{% block content %}

<form method="POST" id="newApp">
  <h1>{% block title %} Status overview {% endblock %}</h1>
  <hr>
  <div class="input-group mb-3 w-75">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">New App</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01" name="moduleID">
      <option selected>Choose module...</option>
      {% for module in modules.values() %}
        <option value="{{ module.moduleClassName }}">{{ module.moduleClassName }}</option>
      {% endfor %}
    </select>
    <div class="md-form">
      <input type="text" class="form-control" placeholder="Enter app name..." style="width:400px" name="appID">
    </div>
    <div class="input-group-append">
      <button class="btn btn-secondary" type="submit" value="create" name="action">Create</button>
    </div>
  </div>
  <hr>
</form>

<form method="post" id="appStatus">
    <div class="row">

    {% for app, status in appStatus.items() %}
        <div class="card shadow p-3 m-3 bg-white rounded" style="width: 29rem;">
            <div class="card-header">
                <a href="/config/{{ app }}">
                    <h2>{{ app }}</h2>
                </a>
                <button type="button" class="close" data-toggle="modal" data-target="#delete-{{ app }}">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                Status: {{ status['status'] }}
                {% for target in status['targets'] %}
                    <br>Target: {{ target }}
                {% endfor %}
            </div>
            <div class="card-footer">
                <form id="appAction-{{ app }}" method="POST">
                  {% for button in appStatus[app]['actions'] %}
                    <input type="hidden" id="hiddenAppName" name="appID" value="{{ app }}">
                    <button type="submit" value="{{ button['action'] }}" name="action" class="{{ button['class'] }}">{{ button['name'] }}</button>
                  {% endfor %}
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
</form>

<!-- Modal per App-->
{% for app in appStatus %}
<form method="post" id="appDelete">
<div class="modal fade" id="delete-{{ app }}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Really delete?
      </div>
      <div class="modal-footer">
        <input type="hidden" id="hiddenAppName" name="appID" value="{{ app }}">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" name="action" value="delete">Delete</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endfor %}

{% endblock %}
