{% extends 'base.html' %}

{% block content %}
  <form method="post">
    <h1>{% block title %} DXL Configuration {% endblock %}</h1>
    <hr>

    {% if dxlconfig %}
      <textarea rows="20" cols="80">
        {{ dxlconfig }}
      </textarea>
    {% endif %}
    <hr>
    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#updateDXLModal">
      <span aria-hidden="true">Update DXL</span>
    </button>
    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#joinDXLModal">
      <span aria-hidden="true">Join DXL</span>
    </button>

  </form>

<!-- DXL parameters popup-->
<form method="post" id="joinDXLForm">
  <div class="modal fade" id="joinDXLModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="joinDXLTitle">Join DXL</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ePO Hostname/IP</span>
                </div>
                <input
                    type="text"
                    placeholder="epo.domain.com"
                    class="form-control"
                    name="host">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ePO Port</span>
                </div>
                <input
                    type="text"
                    value="8443"
                    class="form-control"
                    name="host">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ePO Username</span>
                </div>
                <input
                    type="text"
                    placeholder="lastname.firstname"
                    class="form-control"
                    name="user">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ePO Password</span>
                </div>
                <input
                    type="password"
                    class="form-control"
                    name="password">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Common Name</span>
                </div>
                <input
                    type="text"
                    value="MAC Application"
                    class="form-control"
                    name="cn">
              </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" name="action" value="join">Join</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- DXL parameters popup-->
<form method="post" id="updateDXLForm">
  <div class="modal fade" id="updateDXLModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateDXLTitle">Update DXL</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ePO Hostname/IP</span>
                </div>
                <input
                    type="text"
                    placeholder="epo.domain.com"
                    class="form-control"
                    name="host">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ePO Port</span>
                </div>
                <input
                    type="text"
                    value="8443"
                    class="form-control"
                    name="host">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ePO Username</span>
                </div>
                <input
                    type="text"
                    placeholder="lastname.firstname"
                    class="form-control"
                    name="user">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">ePO Password</span>
                </div>
                <input
                    type="password"
                    class="form-control"
                    name="password">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary" name="action" value="update">Update</button>
        </div>
      </div>
    </div>
  </div>
</form>


{% endblock %}

